@font-face {
    font-family: 'Raleway';
    src: url(../assets/font/Raleway-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'Playfair Display';
    src: url(../assets/font/PlayfairDisplay-ExtraBold.ttf);
}
@font-face {
    font-family: 'Righteous';
    src: url(../assets/font/Righteous-Regular.ttf);
}


body {
    font-family: 'Raleway', sans-serif !important;
}
.judul {
    font-family: 'Playfair Display', serif;
    color: #0E6655;
    margin-bottom: 24px;
    text-shadow: 1px 1px 0 #000;
}
.tombol {
    color: #fff !important;
    font-weight: 600 !important;
    border-radius: 12px !important;
    margin-top: 12px;
    margin-right: 18px;
    transition: all .3s ease !important;
}
.tombol:hover {
    transform: scale(0.9);
}


@media (min-width: 992px) {
    #home {
        padding-top: 70px;
    }
    .about-text {
        position: absolute;
        top: 90px;
        left: -75px;
    }
    .panel {
        position: relative;
    }
}


/* ----------navbar */
.navbar {
    padding: 12px 0;
}
.navbar-brand {
    font-family: 'Righteous', cursive;
    font-size: 32px !important;
}
.nav-link {
    padding: 0 12px !important;
    font-weight: 600;
    font-size: 18px;
}
.waves {
    width: 100%;
}


/* ----------home */
.home-text {
    margin-top: 120px !important;
    color: #0E6655;
}
.home-text h1 {
    font-family: 'Playfair Display', serif;
    font-size: 44px;
}
.home-text p {
    font-size: 18px;
    margin-bottom: 32px;
    font-weight: 300;
}
.home-text span {
    font-weight: 700;
}
.home-img {
    width: 100%;
    margin-top: 48px;
}


/* ----------about */
#about {
    background-image: linear-gradient(to top, #5499C7, #AED6F1);
}
.about-text {
    padding: 20px 20px 60px 20px;
    box-shadow: 0 24px 12px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    text-align: left;
    border-radius: 4px;
    margin-bottom: 20px;
}
.about-text h4, h5 {
    font-family: 'Playfair Display', serif;
    color: #0E6655;
}
.about-img {
    margin: 40px 0;
    opacity: 0.8;
    width: 100%;
    border-radius: 4px;
}


/* ----------places & services */
#places, #services {
    padding-bottom: 100px;
}
.places-list, .services-list {
    padding-bottom: 20px;
}
.places-list img, .services-list img {
    width: 50%;
    margin: 20px 0;
}
.places-list h4, .services-list h4 {
    font-family: 'Righteous', cursive;
    padding-top: 20px;
}
#places img, #services img {
    transition: all .3s ease !important;
}
#places img:hover, #services img:hover {
    transform: scale(1.2);
    filter: opacity(75%);
}


/* ----------register & contact */
#reg-cont {
    background-image: linear-gradient(to top, #5499C7, #AED6F1);
}
.contact-item {
    background-color: #fff;
    padding: 11px;
    border-radius: 4px;
    color: #000;
    margin-top: 54px !important;
    margin-bottom: 32px;
}


/* ----------footer */
footer p {
    font-size: 18px;
    font-weight: 600;
    padding: 8px 0 12px 0;
}
footer p span {
    font-family: 'Righteous', cursive;
}
